
<h1>Tisso Vison in the wild</h1>

<div class="product-grid">
  {% for block in section.blocks %}
    
  {% endfor %}
  
</div>

{% schema %}
  {
    "name": "Grid",
    "settings": [],
    "presets": [
      {
        "name": "grid"
      }
    ],
    "blocks": [
      {
        "name": "Grid title",
        "type": "text",
        "settings": [
          {
            "type": "text",
            "id": "grid-title",
            "label": "Grid title"
          }
        ]
      },
      {
        "name": "Grid image",
        "type": "image_picker",
        "settings": [
          {
            "type": "image_picker",
            "id": "grid-image",
            "label": "Grid image"
          }
        ]
      }
    ]
  }
{% endschema %}