{{ 'grid.css' | asset_url | stylesheet_tag }}

{% javascript %}
  function togglePopup () {
    document.getElementById("popup-1").classList.toggle("active");
  }
{% endjavascript %}

<h1 class="grid-title">
      {{ section.settings.grid-title }}
    </h1>

<div class="product-grid">
  {% for block in section.blocks %}
    <div>
      <img class="grid-image" src="{{ block.settings.grid-image | image_url }}" width="100px" height="100px">
      <div class="popup" id="popup-1">
        <div class="overlay"></div>
        <div class="content">
          X
          <h1>
            Title
          </h1>
          <p>gfhhgjhj</p>
        </div>
      </div>
      <button onClick="togglePopup()">Show Popup</button>
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Grid",
    "settings": [
      {
        "type": "text",
        "id": "grid-title",
        "label": "Grid title",
        "default": "Tisso Vison in the wild"
     }
    ],
    "presets": [
      {
        "name": "grid"
      }
    ],
    "blocks": [
      {
        "name": "Grid image",
        "type": "image_picker",
        "limit": 6,
        "settings": [
          {
            "type": "image_picker",
            "id": "grid-image",
            "label": "Grid image"
          }
        ]
      }
    ]
  }
{% endschema %}