{{ 'grid.css' | asset_url | stylesheet_tag }}

{% javascript %}
  function openPopup() {
    var popup = document.getElementById("productPopup");
    popup.classList.toggle("show");
  }

  function closePopup() {
    var popup = document.getElementById("productPopup");
    popup.classList.remove("show");
  }
{% endjavascript %}

<h1 class="grid-title">
      {{ section.settings.grid-title }}
    </h1>

<div class="product-grid">
  {% for block in section.blocks %}
    <div>
      <img class="grid-image" src="{{ block.settings.grid-image | image_url }}" width="100px" height="100px">
      <div class="icon-popup arrow-svg-wrapper" onclick="openPopup()">
        {{- 'icon-popup.svg' | inline_asset_content -}}
      </div>
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Grid",
    "settings": [
      {
        "type": "text",
        "id": "grid-title",
        "label": "Grid title",
        "default": "Tisso Vison in the wild"
     }
    ],
    "presets": [
      {
        "name": "grid"
      }
    ],
    "blocks": [
      {
        "name": "Grid image",
        "type": "image_picker",
        "limit": 6,
        "settings": [
          {
            "type": "image_picker",
            "id": "grid-image",
            "label": "Grid image"
          }
        ]
      }
    ]
  }
{% endschema %}