.banner-layout {
  color: black;
  font-family: jost_n4;
  font-size: 16px;
  font-weight: 400;
}

.banner-section-1 {
  align-items: center;
  background-color: rgba(245, 245, 245, 1);
  display: flex;
  flex-direction: row;
  height: 45px;
  justify-content: space-between;
}

.banner-image {
  height: 100%;
  max-width: 100%;
}

.banner-section-3 {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.banner-subsection-3 {
  align-items: left;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 45px;
}

.banner-title-2 {
  font-size: 70px;
  font-weight: 500;
}

.paragraph-text {
  font-size: 20px;
}

.second-banner-image {
  width: 1050px;
}

.banner-section-4 {
  background-color: rgba(245, 245, 245, 1);
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  text-transform: uppercase;
  text-align: center;
}

.mobile-banner-section-4 {
  background-color: rgba(245, 245, 245, 1);
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  text-transform: uppercase;
  text-align: center;
}

.second-banner-image {
  flex: 2;
}

.giftbtn-text {
  background-color: rgba( 255, 245, 8, 1);
  border: none;
  color: black;
  height: 44px;
  text-align: center;
  text-transform: uppercase;
  width: 207px;
}

.giftbtn-text:hover {
  background-color: black;
  color: white;
}

.shopbtn-text {
  background-color: black;
  color: white;
  height: 44px;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  width: 207px;
}

.shopbtn-text:hover {
  background-color: rgba( 255, 245, 8, 1);
  border: none;
  color: black;
}

.banner-logo {
  align-items: center;
  display: flex;
  font-size: 19px;
}

.banner-title {
  text-align: center;
}

.button-arrow {
  padding-left: 15px;
}

.mobile-dropdown {
  width: 40px;
}

@media (max-width: 750px) {
  .banner-title {
    display: none;
  }

  .banner-logo {
    flex: 1;
    justify-content: center;
  }

  .banner-logo-text {
    padding-right: 22px;
  }

  .banner-button {
    display: none;
  }

  .banner-section-1 {
    justify-content: space-between;
  }

  .banner-image {
    display: none;
  }

  .banner-subsection-3 {
    display: none;
  }

  .second-banner-image {
    position: relative;
    width: 350px;
  }

  .mobile-title {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    visibility: visible;
  }

  .mobile-paragraph {
    font-size: 15px;
    text-align: center;
    visibility: visible;
  }

  .banner-section-4 {
    display: none;
  }
  
  .mobile-dropdown {
    margin-top: 42px;
    padding-left: 7px;
    visibility: visible;
  }

  .dropbtn-icon {
  height: 20px;
  width: 20px;

}

.dropbtn-icon > svg {
  height: 100%;
  width: 100%;
}

  .dropbtn {
    background-color: rgba(247, 247, 247, 1);
    border: none;
  }

  .dropdown-content {
    background-color: rgba(242, 242, 242, 1);
    display: flex;
    flex-direction: column;
    max-width: 100px;
    margin-top: 0;
    position: relative;
    visibility: hidden;
  }

  .dropdown-content .show {
    visibility: visible;
  }

  .dropdown-item {
    margin-top: 100px;
    text-align: center;
  }

  .dropdown-exit {
    left: 10px;
    position: absolute;
    top: 10px;
  }

  .mobile-btn {
    left: 80px;
    position: absolute;
    top: 380px;
    visibility: visible;
  }

  .mobile-banner-title {
    text-align: center;
    
  }

  .popup.active .content {
  transform: translate(-1%, -80%) scale(1);
  }
}

@media (min-width: 751px) {
  .mobile-dropdown {
    visibility: hidden;
  }

  .mobile-banner-section-4 {
    display: none;
  }

  .mobile-title {
    visibility: hidden;
  }

  .mobile-paragraph {
    visibility: hidden;
  }

  .mobile-btn {
    visibility: hidden;
  }
}

.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0,0.7);
  z-index: 100;
  display: none;
}

.popup .content {
  background-color: rgba(255, 255, 255, 1);
  height: 200px;
  position: absolute;
  text-align: center;
  visibility: hidden;
  width: 350px;
  z-index: 100;
}

.popup .close-btn {
  cursor: pointer;
  height: 12px;
  position: absolute;
  right: 20px;
  top: 10px;
  width: 12px;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  visibility: visible;
}

.content {
  margin-top: 400px;
}





















