.banner {
  color: black;
  font-family: jost_n4;
  font-size: 16px;
  font-weight: 400;
}

.banner-section-1 {
  align-items: center;
  background-color: rgba(245, 245, 245, 1);
  display: flex;
  flex-direction: row;
  height: 45px;
  justify-content: space-between;
}

.banner-image {
  height: 100%;
  max-width: 100%;
}

.banner-section-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.banner-subsection-3 {
  align-items: left;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.paragraph-text: {
  font-size: 20px;
}

.banner-section-4 {
  padding-bottom: 10px;
  padding-top: 10px;
  text-transform: uppercase;
  text-align: center;
}

.second-banner-image {
  flex: 2;
}

.giftbtn-text {
  background-color: rgba(255, 245, 8, 1);
  border: none;
  color: black;
  height: 44px;
  text-align: center;
  text-transform: uppercase;
  width: 207px;
}

.giftbtn-text:hover {
  background-color: black;
  color: white;
}

.shopbtn-text {
  background-color: black;
  color: white;
  height: 44px;
  text-align: center;
  text-transform: uppercase;
  width: 207px;
}

.shopbtn-text:hover {
  background-color: rgba( 255, 245, 8, 1);
  border: none;
  color: black;
}

.banner-logo {
  align-items: center;
  display: flex;
  font-size: 19px;
}

.banner-title {
  text-align: center;
}

.button-arrow {
  padding-left: 15px;
}

.mobile-dropdown {
  width: 40px;
}

@media (max-width: 750px) {
  .mobile-dropdown {
    margin-top: 85px;
    visibility: visible;
  }

  .dropbtn {
    background-color: rgba(247, 247, 247, 1);
    border: none;
  }

  .dropdown-content {
    background-color: rgba(242, 242, 242, 1);
    display: flex;
    flex-direction: column;
    max-width: 100px;
    margin-top: 0;
    position: relative;
    visibility: hidden;
  }

  .dropdown-content .show {
    visibility: visible;
  }

  .dropdown-item {
    text-align: center;
  }

  .dropdown-exit {
    left: 10px;
    position: absolute;
    top: 10px;
  }
}

@media (min-width: 751px) {
  .mobile-dropdown {
    visibility: hidden;
  }
}








