.product-grid {
  column-gap: 19px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 12px;
}

.grid-image {
  height: auto;
  position: relative;
  width: 100%;
  z-index: 1;
}

.icon-popup {
  height: 20px;
  width: 20px;
  margin-left: 350px;
  margin-top: -170px;
  position: absolute;
  z-index: 100;
}

.icon-popup > svg {
  height: 100%;
  width: 100%;
}

.popup-window {
  background-color: rgba(255, 255, 255, 1);
  height: 447px;
  margin-left: 300px;
  position: absolute;
  visibility: hidden;
  width: 311px;
}

.popup-window .show {
  visibility: visible;
}

.popup-exit {
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
}

.popup-images {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.popup-image {
  flex: 1;
  height: auto;
  width: 100%;
}

.product-info {
  align-items: left;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.product-title {
  flex: 1;
}

.product-price {
  flex: 1;
}

.product-description {
  flex: 1;
}

.product-color {
  height: 100px;
}

.product-size {
  height: 100px;
}

.addToCart-btn {
  background-color: black;
  color: white;
  height: 44px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.product-popup {
  visibility: visible;
  position: absolute;
  z-index: 100;
}

.product-popup .show {
  visibility: visible;
}

.addToCart-btn:hover {
  color: black;
  background-color: rgba(255, 245, 8, 1);
  border: none;
}

@media (max-width: 750px) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) {
  .product-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0,0.7);
  z-index: 1;
  display: none;
}

.popup .content {
  background-color: rgba(255, 255, 255, 1);
  height: 447px;
  margin-left: 300px;
  position: absolute;
  visibility: visible;
  width: 311px;
  z-index: 100;
}

.popup .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transform: translate(-50%, -50%) scale(1);
}




