.product-grid {
  column-gap: 19px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 19px;
}

.grid-image {
  height: auto;
  position: relative;
  width: 100%;
}

.icon-popup {
  position: absolute;
  right: 30px;
  top: 10px;
}

.popup-window {
  background-color: rgba(255, 255, 255, 1);
  height: 447px;
  position: relative;
  visibility: hidden;
  width: 311px;
}

.popup-window .show {
  visibility: visible;
}

.popup-exit {
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
}

.popup-images {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.popup-image {
  
}









